@{
    ViewData["Title"] = "SelectIndumentaria";
}

<h1>TP 04 - Elegir indumentaria</h1>
<div class="div1">
    <form action='@Url.Action("GuardarIndumentaria", "Home")'>
        @foreach (string item in ViewBag.equipos)
        {
            <input type="radio" name="equipo" value="@item" required>
            <p>@item</p>
        }
        <br>
        @foreach (string item in ViewBag.camisetas)
        {
            <img src="/img/camisetas/@item" alt="hola">
        }
        
        <select name="Remera" type="number" required>
            @for(int i = 0; i<10; i++){
                <option value="@(i+1)">@ViewBag.Colores[i]</option>
            }
        </select>
        <br>
        @foreach (string item in ViewBag.pantalones)
        {
            <img src="/img/pantalones/@item" alt="hola">
        }
        <select name="Pantalon" type="number" required>
            @for(int i = 0; i<10; i++){
                <option value="@(i+1)">@ViewBag.Colores[i]</option>
            }
        </select>
        <br>
        @foreach (string item in ViewBag.medias)
        {
            <img src="/img/medias/@item" alt="hola">
        }
        <select name="Media" type="number" required>
            @for(int i = 0; i<10; i++){
                <option value="@(i+1)">@ViewBag.Colores[i]</option>
            }
        </select>
        <br>
        <input type="submit">
    </form>
</div>